.actionButton {
    border: none;
    border-radius: .7rem;
    background-color: var(--color-red);
    padding: 1rem 1.15rem;
    font-size: 1.4rem;
    color: var(--color-white);
    text-transform: uppercase;

}