.metadataContainer {
    margin-top: 2rem;
}

.heading {
    color: var(--color-gray-light);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.metadataViewer {
    width: 100%;
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: var(--color-black);
}